{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/text-work.css') }}">
{% endblock %}
{% block title %}Registration{% endblock %}
{% block body %}
    <div>
        <form class="js-form-registration" action="{{ path('user_registration') }}">
            <div>
                <input class="js-username" type="text" name="username" placeholder="username">
                <div class="error d-none">Введите имя</div>
            </div>
            <div>
                <input class="js-email" type="email" name="email" placeholder="email">
                <div class="error d-none">Введите почту</div>
            </div>
            <div>
                <input class="js-password" type="password" name="password" placeholder="password">
                <div class="error d-none">Введите пароль</div>
            </div>
            <input type="submit" value="Save">
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        (function () {
            let formRegistration = $('.js-form-registration');
            let username = formRegistration.find('.js-username');
            let email = formRegistration.find('.js-email');
            let password = formRegistration.find('.js-password');
            let action = formRegistration.attr('action');

            formRegistration.submit(function(e) {
                e.preventDefault();

                let data = {
                    username: username.val(),
                    email: email.val(),
                    password: password.val()
                };

                $.ajax({
                    url: action,
                    type: 'post',
                    data: data,
                    success: function(response) {
                        if (!!response.redirect) {
                            window.location.href = response.redirect;
                            return;
                        }
                        alert('Ура!!!');
                    }
                });
            });
        })();
    </script>
{% endblock %}