{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4" style="padding: 0">
            <a class="btn btn-info menu-item" href="{{ path('create_words') }}">Работа с текстом</a>
            <a class="btn btn-success menu-item" href="{{ path('lesson') }}">Lesson</a>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .menu-item {
            display: block;
            width: 100%;
            height:40px;
        }
    </style>
{% endblock %}