{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block body %}
    <div class="col-12">
        <ul>
            {% for word in words %}
                <li>{{ word }}</li>
            {% endfor %}
        </ul>
        {% for word in words %}
            <li>{{ word }}</li>
        {% endfor %}
    </div>
{% endblock %}